.modal__backdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal__container {
  background: white;
  border-radius: 5px;
  max-width: 80vw;
  padding: 15px;
  margin: 5vh auto;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
}
